*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}
nav{
    width: 100vw;
    /* background-color: aqua; */
    height: auto;
    margin-bottom: 20px;
}
.nav-br{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}
.nav-lg{
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}
.nav-lg img{
    height:6rem;
    margin-right: 5px;
    border-radius: 30px;
}
.para1{
    font-size: 3rem;
    margin-bottom: 1px;
    margin-top: -14px;
    color: white;

}
.para2{
    font-size: 1rem;
    margin-top: 0;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: white;
    margin-left: 5px;
}
span{
    display:flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 50px;
    margin-right: 20px;
}
span li{
    font-size: 1.3rem;
    
}
span li a{
    color:white;
     display: inline-block;
    transition: .2s ease-in-out;
     position: relative;
      text-decoration: none;
}

span li a::after{
    content:" ";
    position:absolute;
    height: 2px;
    /* width:100%; */
    /* background-color: rgb(30, 30, 235); */
     background-color: #fff;
    left:0;
    bottom:0;
    transition: 0.15s ease-in-out;

}
span li a:hover:after{
    width:100%;
}
.nav-contact{
    margin-left: 20px;
    text-decoration: none;
}
.nav-contact  div{
   border:2px solid black;
   display: flex;
   align-items: center;
   gap:5px;
   border-radius: 30px;
   background-color: white;
   color:black;
   width: 170px;
   height: 50px;
   padding-left: 15px;
 
  
}


.icons i{
    border:1px solid blue;
    color: white;
    background-color: blue;
    border-radius: 50%;
    height:40px;
    width:40px;
    text-align: center;
    padding-top: 8px;
     text-decoration: none;
     margin-left: 7px;
}
.nav-contact  div:hover{
    background-color:  blue;
    color:white;
    border: 2px solid blue ;
}
.icons i:hover{
    background-color: white;
    color:blue
}

.menu-open , .menu-close{
    position: relative;
    cursor: pointer;
    /* color: rgb(22, 157, 211); */
    font-size: 1.5rem;
    display: none;
    color: black;
}
.menu-open{
    top:60%;
    right: 55px;
    /* transform: translateY(-50%); */
}
.menu-close{
    /* top:-600px; */
    top:-55%;
    /* right: -400px; */
    right:-90%
}
#check1{
    display: none;
}
@media(max-width:900px){
    span{
        flex-direction: column;
        align-items:start;
        justify-content:left;
        width:70%;
        height: 100vh;
        position: fixed;
        top:0;
        left:0;
        right:0;
        z-index:100;
        background-color:white;
        transition: all 0.2s ease-in-out;
        padding-top: 40px;
        gap:5px
    }
    .nav-lg{
        margin-top: -7px;
        height:80px;
        /* border:1px solid white */
    }
    .nav-lg img{
        height:70px;
    }
    .nav-lg .para1{
        margin-top: -3px;
        font-size: 2rem;
    }
    .nav-lg .para2{
        font-size: .8rem;
    }
    span li{
        margin-top: 1px;
        padding-left: 10px;
    }
    span li a{
        padding:5px;
        color: black;
    }
    .menu-open, .menu-close{
       display: block;
    }
    .icons{
        margin-left: -18px;
        margin-top: 30px;
    }
    #check1:checked ~ span{
        left:0;
        display: none;
    }
}